// global styles
@font-face {
  font-family: 'apercu-mono-regular';
  src: url('../assets/apercu-mono-regular.woff2') format('woff2'), url('../assets/apercu-mono-regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Mono';
  src: url('../assets/PTMono-Regular.ttf');
}


html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-size: $font-size-small;
  font-family: $font-family;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: $font-size-large;
  font-weight: 400;
  margin: 0;
}
// layout
.content-container {
  padding: 0 $minor--px;
  max-width: $max-page-width;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 auto;
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: $max-page-width-desktop;
  }
}

.footer {
  padding-bottom: $minor--px;
  padding-top: 20px;

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
    font-size: $font-size-small;
  }
}

.footer__copyright {
  display: none;
  
  @media screen and (min-width: $bp-tablet) {
    display: inline;
  }
}

@media screen and (min-width: $bp-tablet) {
  .footer__legal-notice {
    margin-left: auto;
  }
}

// links
.underlined-link {
  position: relative;

  &::after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.underlined-link--white {
  color: $white;

  &::after {
    bottom: -3px;
    background-color: $white;
    opacity: .7;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }
}

.underlined-link--black {
  color: $black;

  &::after {
    bottom: -1px;
    background-color: $black;
    opacity: .3;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: .5;
    }
  }
}

.blue-link {
  color: $blue;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    &::after {
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      bottom: -1px;
      background-color: $blue;
      opacity: .6;
    }
  }
}