// basic styles
$font-size-small: 15px;
$font-size-large: 18px;
$font-family: 'apercu-mono-regular', 'PT Mono', monospace;
$line-height: 1.5;
$letter-spacing: 0.00em;

// distances
$minor--px: 10px;
$slight--px: 18px;
$modest--px: 30px;
$great--px: 50px;
$significant--px: 60px;
$immense--px: 80px;
$gigantic--px: 100px;
$enormous--px: 120px;
$monstrous--px: 160px;
$huge--px: 180px;

// content lengths
$max-page-width: 900px;
$max-page-width-desktop: 1180px;

// colors
$white: #fff;
$black: #252525;
$light-blue: #ebfffe;
$blue: #1934da;

// breakpoints
$bp-tablet: 680px;
$bp-desktop: 1200px;