.body-imprint {
  background-color: $light-blue;
}

.content-container--imprint {
  display: flex;
  flex-direction: column;
  font-size: $font-size-large;
  min-height: 100vh;
}

.imprint {
  padding-top: 14px;
  margin-bottom: $significant--px;
  flex: 1;

  @media screen and (min-width: $bp-tablet) {
    padding-top: $slight--px;
  }
}

.imprint__arrow {
  margin-bottom: $slight--px;
  display: block;
}

.imprint__header {
  font-size: $font-size-large;
}

.gdpr {
  margin-bottom: $gigantic--px;
  flex: 1;
  max-width: 900px;
}