// Specific styles for index page
.nav {
  display: flex;
}

.nav__github {
  margin: 10px 0 12px auto;

  @media screen and (min-width: $bp-tablet) {
    margin: 20px 0 30px auto;
    font-size: $font-size-small;
  }
}

.postcard {
  position: relative;
  margin: 0 (-$minor--px); // make postcard fullwidth on mobile

  @media screen and (min-width: $bp-tablet) {
    margin: 0 auto;
    max-width: 440px;
  }

  // include svg arrow
  &:after {
    position: absolute;
    right: 20px;
    bottom: 15px;
    transform: rotate(-82deg);
    display: block;
    content: ' ';
    background-image: url('../assets/images/arrow-intro-image.svg');
    height: 10px;
    width: 22px;
  }
}

// produce shadow at bottom of image to enhance readibility of white text
.postcard__image-container::after {
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (min-width: $bp-tablet) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 25%);
  }
}

.postcard__image {
  width: 100%;
  display: block;
}

.postcard__text {
  color: $white;
  position: absolute;
  bottom: $minor--px;
  left: $minor--px;
  text-rendering: optimizeLegibility;
}

.projects {
  text-align: center;
}

.projects__header {
  font-weight: bold;
  font-size: $font-size-large;
  margin: $enormous--px 0 $gigantic--px;
}

.project {
  text-align: left;
  margin-bottom: $immense--px;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: $enormous--px;
  }
}

@media screen and (min-width: $bp-tablet) {
  .project--secondary {
    width: 45%;
    margin-bottom: $enormous--px;
  }
}

.project__image {
  width: 100%;
  padding-bottom: $minor--px;
}

.project__image--comments {
  display: block;
  width: 96px;
  margin-left: $enormous--px;
  padding-top: $great--px;
  padding-bottom: $slight--px;
}

// container for displaying projects in a row layout
.project-container {
  margin-bottom: $enormous--px;

  @media screen and (min-width: $bp-tablet) {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    font-size: $font-size-small;
  }
}

@media screen and (min-width: $bp-tablet) {
  .project--tile {
    margin-bottom: 0;
    margin-right: $significant--px;

    &:first-child {
      margin-right: 0;
    }
  }
}

// lazy loading
img {
  opacity: 1;
  transition: opacity 0.2s;
}

img[data-src] {
  opacity: 0;
}

.lazy-container {
 display: block;
 position: relative;
 height: 0;
}

.lazy-container img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.lazy-container--italia {
  padding-bottom: 134.1%;
}

.lazy-container--kosmo {
  padding-bottom: 71.1%;
}

.lazy-container--comments {
  padding-bottom: 39.5%;

  & img {
    width: auto;
  }
}

.lazy-container--abweichungen {
  padding-bottom: 196.5%;
}

.lazy-container--ds {
  padding-bottom: 121%;
}

.lazy-container--ebertplatz {
  padding-bottom: 101.8%;
}
