// Specific styles for legal notice page
.content-container--legal-notice {
  display: flex;
  flex-direction: column;
  font-size: $font-size-large;
  min-height: 100vh;
  background-color: $light-blue;
}

.back-arrow {
  margin-bottom: $slight--px;
  display: block;
}

.contact {
  padding-top: 14px;
  margin-bottom: $significant--px;
  flex: 1;

  @media screen and (min-width: $bp-tablet) {
    padding-top: $slight--px;
  }
}

.contact__header {
  font-size: $font-size-large;
}

.gdpr {
  margin-bottom: $gigantic--px;
  flex: 1;
  max-width: 900px;
}
