// global styles
@font-face {
  font-family: 'apercu-mono-regular';
  src: url('../assets/apercu-mono-regular.woff2') format('woff2'), url('../assets/apercu-mono-regular.woff') format('woff');
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-size: $font-size-small;
  font-family: $font-family;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

a {
  text-decoration: none;
  color: $blue;
}

h1,
h2 {
  font-size: $font-size-large;
  font-weight: 400;
  margin: 0;
}
// layout
.content-container {
  padding: 0 $slight--px;
  max-width: $max-page-width;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 auto;
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: $max-page-width-desktop;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: $minor--px;

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
    font-size: $font-size-small;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 20px;
  }
}

.footer__copyright {
  display: none;
  
  @media screen and (min-width: $bp-tablet) {
    display: inline;
  }
}

@media screen and (min-width: $bp-tablet) {
  .footer__legal-notice {
    margin-left: auto;
  }
}

// links
.underlined-link {
  position: relative;

  &::after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.underlined-link--white {
  color: $white;

  &::after {
    bottom: -3px;
    background-color: $white;
    opacity: .7;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }
}

.underlined-link--black {
  color: $black;

  &::after {
    bottom: -1px;
    background-color: $black;
    opacity: .3;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: .5;
    }
  }
}

.blue-link {
  color: $blue;
  position: relative;
  padding: 4px 10px;

  &:hover {
    filter: blur(1px);
    background-color: $violet-blue;
  }
}

// Specific styles for index page
.nav {
  display: flex;
}

.nav__github {
  margin: 6px -10px 4px auto;

  @media screen and (min-width: $bp-tablet) {
    margin: 16px -10px 26px auto;
    font-size: $font-size-small;
  }
}

.postcard {
  position: relative;
  margin: 0 (-$slight--px); // make postcard fullwidth on mobile

  @media screen and (min-width: $bp-tablet) {
    margin: 0 auto;
    max-width: 440px;
  }
}

// produce shadow at bottom of image to enhance readibility of white text
.postcard__image-container::after {
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (min-width: $bp-tablet) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 25%);
  }
}

.postcard__image {
  width: 100%;
  display: block;
}

.postcard__text {
  color: $white;
  position: absolute;
  bottom: $minor--px;
  left: $minor--px;
  text-rendering: optimizeLegibility;
}

.projects {
  text-align: center;
}

.projects__header {
  position: relative;
  font-weight: bold;
  font-size: $font-size-large;
  margin: $enormous--px 0 $enormous--px;

  &:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 36px) rotate(-80deg);
    display: block;
    content: ' ';
    background-image: url('../assets/images/arrow-mobile.svg');
    height: 15px;
    width: 51px;
  }

  @media screen and (min-width: $bp-tablet) {
    margin: $huge--px 0 $huge--px;
  }
}

.project {
  text-align: left;
  margin-bottom: $gigantic--px;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: $enormous--px;
  }
}

// make secondary project smaller on desktop
@media screen and (min-width: $bp-tablet) {
  .project--secondary {
    width: 45%;
  }
}

.project__image {
  width: 100%;
  padding-bottom: $slight--px;

  &:hover {
    cursor: pointer;
    filter: blur(1px);
  }
}

.project__image--comments {
  display: block;
  padding-top: $modest--px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: $great--px;
  }
}

// container for displaying projects in a row layout
.project-container {
  margin-bottom: $enormous--px;

  &:last-of-type {
    margin-bottom: $gigantic--px;
  }

  @media screen and (min-width: $bp-tablet) {
    align-items: center;
    display: flex;
    font-size: $font-size-small;

    &:last-of-type {
      margin-bottom: $monstrous--px;
    }
  }
}

@media screen and (min-width: $bp-tablet) {
  .project-container--small {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: $bp-tablet) {
  .project--tile {
    margin-bottom: 0;
    margin-right: $significant--px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .project--tile {
    margin-right: $immense--px;
  }
}

@media screen and (min-width: $bp-tablet) {
  .project--tile-wide {
    width: 200%;
  }
}


// lazy loading
img {
  opacity: 1;
  transition: opacity 0.2s;
}

img[data-src] {
  opacity: 0;
}

.lazy-container {
 display: block;
 position: relative;
 height: 0;
}

.lazy-container img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.lazy-container--italia {
  padding-bottom: 134.1%;
}

.lazy-container--kosmo {
  padding-bottom: 71.1%;
}

.lazy-container--comments {
  padding-bottom: 55%;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 72%;
  }

  & img {
    width: auto;
    left: 50%;
    margin-left: -17%;
  }
}

.lazy-container--abweichungen {
  padding-bottom: 196.5%;
}

.lazy-container--ds {
  padding-bottom: 121%;
}

.lazy-container--ebertplatz {
  padding-bottom: 101.8%;
}

.pop-up-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999999;
  display: none;
  height: 100%;
  padding-top: 8%;
  background-color: rgba(0, 0, 0, 0.14);
  overflow: auto;
}

.pop-up {
  position: relative;
  width: 90vw;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #fff;

  @media screen and (min-width: $bp-tablet) {
    width: 60vw;
  }

  &__close {
    position: absolute;
    top: 22px;
    right: 20px;
    color: $blue;
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    padding-top: $slight--px;

    @media screen and (min-width: $bp-tablet) {
      padding-top: $minor--px;
      max-width: 90%;
    }
  }
}

// Specific styles for legal notice page
.content-container--legal-notice {
  display: flex;
  flex-direction: column;
  font-size: $font-size-large;
  min-height: 100vh;
  background-color: $light-blue;
}

.back-arrow {
  margin-bottom: $slight--px;
  display: block;
}

.contact {
  padding-top: 14px;
  margin-bottom: $significant--px;
  flex: 1;

  @media screen and (min-width: $bp-tablet) {
    padding-top: $slight--px;
  }
}

.contact__header {
  font-size: $font-size-large;
}

.gdpr {
  margin-bottom: $gigantic--px;
  flex: 1;
  max-width: 900px;
}
