@font-face {
  font-family: "PTMono";
  src: url('fonts/PTMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

// basic styles
$base-font-size: 18px;
$font-family: "PTMono";

body {
  font-size: $base-font-size;
}
