@font-face {
  font-family: 'PT Mono';
  src: url('../fonts/PTMono-Regular.ttf');
}

// basic styles
$font-size-mobile: 15px;
$font-size-mobile-heading: 18px;
$font-family: 'PT Mono', monospace;
$line-height: 1.5;



// distances
$minor--px: 10px;
$slight--px: 18px;
// $modest--px: 30px;
// $great--px: 50px;
$significant--px: 68px;
$immense--px: 80px;

// content lengths
$max-page-width: 1000px;

// colors
$blue: #1934da;

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: $font-size-mobile;
  font-family: $font-family;
  line-height: $line-height;
}

.content-container {
  padding: 0 $minor--px;
  max-width: $max-page-width;
}

.nav {
  display: flex;
}

.nav__github {
  color: $blue;
  margin: 10px 0 12px auto;
  text-decoration: none;
}

.intro {
  position: relative;
  margin: 0 (-$minor--px);
}

.intro__image-container::after {
  // make shadow for readibility of text on postcard image
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 35%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.intro__image {
  width: 100%;
  display: block;
}

.intro__text {
  color: white;
  position: absolute;
  bottom: $minor--px;
  left: $minor--px;
  font-size: $font-size-mobile-heading;
  margin: 0;
}

.projects {
  text-align: center;
}

.projects__header {
  font-weight: bold;
  font-size: $font-size-mobile-heading;
  position: relative;
  margin-top: $significant--px;
  padding-bottom: $significant--px;
  margin-bottom: $immense--px;

  &:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 36px) rotate(-78deg);
    display: block;
    content: ' ';
    background-image: url('../images/arrow-mobile.svg');
    height: 15px;
    width: 51px;
  }
}

.project {
  text-align: left;
  margin-bottom: $immense--px;
}

.project__image {
  width: 100%;
  margin-bottom: $minor--px;
}