@font-face {
  font-family: 'PT Mono';
  src: url('../fonts/PTMono-Regular.ttf');
}

// basic styles
$base-font-size: 18px;
$base-font-family: 'PT Mono', monospace;
$base-line-height: 1.3;

// distances
$minor--px: 10px;
$slight--px: 18px;
// $modest--px: 30px;
// $great--px:       50px !default
$significant--px: 68px;
$immense--px: 80px;

// content lengths
$max-page-width: 1000px;

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

.content-container {
  padding: 0 $minor--px;
  max-width: $max-page-width;
}

.nav {
  display: flex;
}

.nav__github {
  margin: 13px 0 13px auto;
}

.intro {
  position: relative;
  margin: 0 -10px;
}

.intro__image-container::after {
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.intro__image {
  width: 100%;
  display: block;
}

.intro__text {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.projects {
  text-align: center;
}

.projects__header {
  position: relative;
  margin-top: $significant--px;
  padding-bottom: $immense--px;
  margin-bottom: $immense--px;

  &:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 42px) rotate(-78deg);
    display: block;
    content: ' ';
    background-image: url('../images/arrow-mobile.svg');
    height: 15px;
    width: 51px;
  }
}