<div class="pop-up-wrapper js-pop-up-wrapper">
    <div class="pop-up">
        <span class="pop-up__close js-close-pop-up">X</span>
        <p>Abweichungen aus der Zeit / Design / Responsive Web Development</p>
        <p>A website for the diploma project Abweichungen aus der Zeit from media artist Maurits Boettger.</p>
        <p>In his work Boettger questions processes in the perception of time and space. He deconstructs information carriers such as light, sound, air and through targeted interventions, allows changes in perspective that make the observer aware of his perception.</p>
        <p>The web page shall invite to explore Boettgers work, a collection of videos, apparatus, installations and theoretical reflections. Individual chapters are in no fixed order and rearrange every time the visitor opens the web page.</p>
        <a href="https://abweichungenausderzeit.de/" target="_blank">https://abweichungenausderzeit.de/</a>
    </div>
</div>