<div class="pop-up-wrapper js-pop-up-wrapper">
    <div class="pop-up">
        <span class="pop-up__close js-close-pop-up">x</span>
        <div class="pop-up__content">
            <p>Comments / PostgreSQL / Kubernetes Cluster</p>
            <p>A lightweight, flexible and scalable comments database for news website ZEIT ONLINE that stores more than 10.000 new comments each day. The database is based on PostgreSQL and orchestrated with Kubernetes in the Google Cloud.</p>
            <p>As a product owner I was responsible for setting up an agile development process together with my colleague Thomas Strothjohann and for defining the database’s qualities in user stories.</p>
            <p>Thanks to a sophisticated data sync between the old database and the new one, we were able to switch systems during live operation without any downtime.</p>
        </div>
    </div>
</div>