<div class="pop-up-wrapper js-pop-up-wrapper">
    <div class="pop-up">
        <span class="pop-up__close js-close-pop-up">x</span>
        <div class="pop-up__content">
            <p>Deutschland spricht / Political dating platform</p>
            <p>A popup questionnaire embedded into articles on <a class="underlined-link underlined-link--black" href="https://www.zeit.de/index" target="_blank">ZEIT ONLINE</a> allowing readers to give their opinion on controversial political subjects such as migration, social inequality, and environmental protection. On completion, readers were asked if they are interested in meeting up with someone who lives close by and answered the questions in a different way. To take part, readers had to provide a valid mobile phone number and their postal code.</p>
            <p>The concept for Deutschland spricht comes from journalists Christian Bangel, Maria Exner, Philip Faigle, and Jochen Wegner. Me and my colleagues Andreas Loos and Michael Schultheiss developed a lightweight web application, based on a form, a spreadsheet and a bunch of python scripts for matching users and sending e-mails. In total 12.000 readers registered for the social experiment.</p>
            <a class="underlined-link underlined-link--black" href="https://www.grimme-online-award.de/archiv/2018/preistraeger/p/d/deutschland-spricht-1/" target="_blank">Grimme Online Award 2018</a>
        </div>
    </div>
</div>