<div class="pop-up-wrapper js-pop-up-wrapper">
    <div class="pop-up">
        <img src="assets/images/close.svg" class="pop-up__close js-close-pop-up">
        <div class="pop-up__content">
            <p>Open-source archive for public space Ebertplatz / Static Website / Jekyll</p>
            <p>Together with designer Ludwig Lederer I build a web archive for the research project <a class="underlined-link underlined-link--black" href="https://kisd.de/projects/die-unsichtbare-stadt/" target="_blank">"Die unsichtbare Stadt"</a> for Köln International School of Design (KISD).</p>
            <p>Citizens of Cologne can send e-mails with impressions and texts of the public space Ebertplatz, which are then uploaded to the web page.</p>
            <p>The projects‘ topics deal with the various connotations and perceptions of Cologne Ebertplatz and critically analyses the different atmospheres, the hidden infrastructures, and the space-time structures of this urban place.</p>
            <a class="underlined-link underlined-link--black" href="https://ebertplatz.org/" target="_blank">https://ebertplatz.org/</a>
        </div>
    </div>
</div>