<div class="pop-up-wrapper js-pop-up-wrapper">
    <div class="pop-up">
        <span class="pop-up__close js-close-pop-up">X</span>
        <p>Kosmo / Bachelor Thesis / Real-Time Web Application / Meteor / D3.js</p>
        <p>In my bachelor thesis, I experimented with different forms of knowledge representation. I find that traditional note taking apps, presenting notes in the form of a list, fall short in displaying the relation between individual thoughts.</p>
        <p>Through spatial distribution of notes, Kosmo creates an explorable archive of ideas, that shall allow for finding patterns in your own mental model.</p>
        <p>The web application was built with Meteor and D3.js and enables real-time collaboration on thought archives. As soon as a user inserts a note, it appears on all connected browsers, without the need for a manual page refresh. This behavior is based on a bidirectional connection between the database and the client-side application.</p>
    </div>
</div>