<!doctype html>
<html class="no-js" lang="de">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="description" content="Boilerplate by Milan Bargiel">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="main.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>
    <div class="content-container">
        <nav class="nav">
            <a class="nav__github" href="https://github.com/milanbargiel" target="_blank">github</a>
        </nav>
        {{> @partial-block }}
        <footer class="footer">
            © <a href="mailto:info@milanbargiel.com">Milan Bargiel</a>, 2020 /<br> <a class="footer__imprint" href="#">imprint & privacy</a>
        </footer>
    </div>
    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/main.js"></script>
</body>
</html>