{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='milan bargiel — developer & designer' }}
<div class="nav">
    <a class="nav__github blue-link" href="https://github.com/milanbargiel" target="_blank">github</a>
</div>
<header class="postcard">
    <div class="postcard__image-container lazy-container lazy-container--italia">
        <img class="postcard__image" data-src="images/italia-fun.jpg" alt="Men playing with water in Sicily">
    </div>
    <h1 class="postcard__text">Hello, I am Milan Bargiel, a<br> product owner, developer & designer based in Berlin. Feel free to contact me: <a class="underlined-link underlined-link--white" href="mailto:info@milanbargiel.com">info@milanbargiel.com</a></h1>
</header>
<main class="projects">
    <h2 class="projects__header">projects</h2>
    <div class="project">
        <div class="lazy-container lazy-container--kosmo">
            <img class="project__image" data-src="images/planet-page-prototype.jpg" alt="Kosmo – A web application for visually collecting thoughts">
        </div>
        Kosmo – A real-time web application for visually collecting thoughts /<br> <a class="underlined-link underlined-link--black" href="assets/milan-bargiel_bachelorthesis.pdf" target="_blank">Bachelor Thesis</a> / D3.js / Meteor
    </div>
    <div class="project-container">
        <div class="project project--tile">
            <div class="lazy-container lazy-container--ebertplatz">
                <img class="project__image" data-src="images/ebertplatz.jpg" alt="Re: Ebertplatz – open-source archive for the public space Ebertplatz, Köln">
            </div>
            <a class="underlined-link underlined-link--black" href="https://ebertplatz.org/" target="_blank">Re: Ebertplatz</a>, open-source archive for the public space Ebertplatz, Köln / Web Development
        </div>
        <div class="project project--tile">
            <div class="lazy-container lazy-container--ds">
                <img class="project__image" data-src="images/dspricht.jpg" alt="Online questionnaire of Deutschland spricht in 2017">
            </div>
            <a class="underlined-link underlined-link--black" href="https://www.zeit.de/gesellschaft/2018-03/germany-talks-match-debate-politics-english" target="_blank">Deutschland spricht</a> / ZEIT ONLINE / Grimme Online Award 2018 / Front End Development
        </div>
        <div class="project project--tile">
            <div class="lazy-container lazy-container--abweichungen">
                <img class="project__image" data-src="images/abweichungen.jpg" class="Web page of media artist Maurits Boettger">
            </div>
            <a class="underlined-link underlined-link--black" href="https://abweichungenausderzeit.de/" target="_blank">Abweichungen aus der Zeit</a> / Design / Web Development
        </div>
    </div>
</main>
{{/_layout}}
