{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Milan Bargiel — developer & designer' }}
<header class="intro">
    <div class="intro__image-container">
        <img class="intro__image" src="images/italia-fun.jpg">
    </div>
    <div class="intro__text">Hello, I am Milan Bargiel, a developer & designer based in Berlin. Feel free to contact me: info@milanbargiel.com</div>
</header>
<main class="projects">
    <div class="projects__header">selected work</div>
</main>
{{/_layout}}