{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Milan Bargiel — developer & designer' }}
<div class="intro">
    <img class="intro__image" src="images/italia-fun.jpg">
    <div class="intro__text">Hello, I am Milan Bargiel, a developer & designer based in Berlin. Feel free to contact me: <a href="mailto:info@milanbargiel.com">info@milanbargiel.com</a></div>
</div>
{{/_layout}}