{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Milan Bargiel — developer & designer' }}
  <div>Hello, I am Milan Bargiel, a developer & designer based in Berlin.</div>
{{/_layout}}