{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='milan bargiel — developer & designer' }}
<nav class="nav">
    <a class="nav__github link" href="https://github.com/milanbargiel" target="_blank">github</a>
</nav>
<header class="intro">
    <div class="intro__image-container">
        <img class="intro__image" src="images/italia-fun.jpg">
    </div>
    <h1 class="intro__text">Hello, I am Milan Bargiel, a<br> product owner, developer & designer based in Berlin. Feel free to contact me: <a class="underlined-link underlined-link--white" href="mailto:info@milanbargiel.com">info@milanbargiel.com</a></h1>
</header>
<main class="projects">
    <div class="projects__header">projects</div>
    <div class="project">
        <img class="project__image" src="images/planet-page-prototype.jpg">
        <div class="project__text">Kosmo – A real-time web application for visually collecting thoughts /<br> <a class="underlined-link underlined-link--black" href="files/milan-bargiel_bachelorthesis.pdf" target="_blank">Bachelor Thesis</a> / D3.js / Meteor</div>
    </div>
    <div class="project-container">
        <div class="project project--tile">
            <img class="project__image" src="images/ebertplatz.jpg">
            <div class="project__text"><a class="underlined-link underlined-link--black" href="https://ebertplatz.org/" target="_blank">Re: Ebertplatz</a>, open-source archive for the public space Ebertplatz, Köln / Web Development</div>
        </div>
        <div class="project project--tile">
            <img class="project__image" src="images/dspricht.jpg">
            <div class="project__text"><a class="underlined-link underlined-link--black" href="https://www.zeit.de/gesellschaft/2018-03/germany-talks-match-debate-politics-english" target="_blank">Deutschland spricht</a> / ZEIT ONLINE / Grimme Online Award 2018 / Front End Development</div>
        </div>
        <div class="project project--tile">
            <img class="project__image" src="images/abweichungen.jpg">
            <div class="project__text"><a class="underlined-link underlined-link--black" href="https://abweichungenausderzeit.de/" target="_blank">Abweichungen aus der Zeit</a> / Design / Web Development</div>
        </div>
    </div>
</main>
{{/_layout}}
