{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='milan bargiel — developer & designer' }}
<header class="intro">
    <div class="intro__image-container">
        <img class="intro__image" src="images/italia-fun.jpg">
    </div>
    <h1 class="intro__text">Hello, I am Milan Bargiel, a developer & designer based in Berlin. Feel free to contact me: <a class="intro__mail-link" href="mailto:info@milanbargiel.com">info@milanbargiel.com</a></h1>
</header>
<main class="projects">
    <div class="projects__header">projects</div>
    <div class="project">
        <img class="project__image" src="images/kosmo.jpg">
        <div class="project__text">Kosmo – A real-time web application for visually collecting thoughts / Bachelor Thesis / D3.js / Meteor</div>
    </div>
    <div class="project">
        <img class="project__image" src="images/ebertplatz.jpg">
        <div class="project__text">Re: Ebertplaz, open-source archive for the public space „Ebertplatz, Köln” / Web Development</div>
    </div>
    <div class="project">
        <img class="project__image" src="images/dspricht.jpg">
        <div class="project__text">Deutschland spricht / ZEIT ONLINE / Grimme Online Award 2018 / Front End Development</div>
    </div>
    <div class="project">
        <img class="project__image" src="images/abweichungen.jpg">
        <div class="project__text">Abweichungen aus der Zeit – Design / Web Development</div>
    </div>
</main>
{{/_layout}}