{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='legal notice — milan bargiel' isLegalNotice=' ' }}
<header class="contact">
    <a href="/index.html">
        <img class="back-arrow" src="assets/images/arrow-back.svg" alt="An arrow pointing leftwards">
    </a>
    <h1 class="contact__header">Contact</h1>
    <div>Milan Bargiel<br>Fuldastraße 42<br>12045 Berlin<br><a class="underlined-link underlined-link--black" href="mailto:info@milanbargiel.com">info@milanbargiel.com</a></div>
</header>
<main class="gdpr">
    <h3 class="gdpr__heading">Data Protection Policy (GDPR)</h3>
    <p>This website does not collect, store or process Personally Identifiable Information (PII). This website does not require the use of cookies.</p>
    <h3>Third Party Inclusion</h3>
    <p>This website is hosted by <a class="underlined-link underlined-link--black" href="https://github.com/" target="_blank">Github</a> using <a class="underlined-link underlined-link--black" href="https://help.github.com/en/github/working-with-github-pages/about-github-pages" target="_blank">Github Pages</a>. The Github Global Privacy Practices are available <a class="underlined-link underlined-link--black" href="https://help.github.com/en/github/site-policy/global-privacy-practices" target="_blank">here</a>.</p>
</main>
{{/_layout}}
